.expense-item{
    border: 2px solid white;
    margin : 10px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    background-color: rgb(43, 34, 34);
}
.expense_data{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 10px; */
    margin: 0px 20px;
}
.dlt_btn{
    margin: 0px 17px 0px 0px;
    padding: 13px 25px;
    border-radius: 8px;
    background-color: #d83030;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}