.expense-filter{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 20px auto;
}
.expense-filter select{
    /* margin-right: 15px; */
    padding: 5px;
    /* margin-top: 12px; */
    border-radius: 7px;
    font-size: 24px;
    background-color: #e7e8ff;
    border: 1px solid white;
}
.expense-filter label{
    margin-right: 15px;
    font-size: 24px;
}