.expense-form{
    width: 100%;
    background-color: rgb(179 255 254);;
    margin: 15px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.expense-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0px;
}
.part_one{
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    width: 70%;
    height: 100%;
    align-items: center;
}
.part_two{
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    width: 70%;
    height: 100%;
    align-items: center;
}
.expense-form form label{
    font-size: 26px;
    margin: 0px 0px 5px 0px;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 1px white;
    /* display: block; */
    /* text-align: center; */
}
.expense-form form input{
    font-size: 22px;
    padding: 8px;
    border-radius: 6px;
}
.expense-form form input:active{
    border: 2px solid red;
}
.form_button{
    align-self: flex-end;
}
#addExpense_btn, .addExpense_btn{
    margin: 0px 5px 0px;
    padding: 10px 9px;
    border-radius: 8px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #0e007a;
    font-size: 22px;
}
.addExpense_mainBtn{
    font-size: 22px;
    display: inline;
    width: 20%;
    margin: 24px auto;
    padding: 12px;
    background-color: #070776;
    color: white;
    border-radius: 9px;
    border: 1px solid white;
    cursor: pointer;
}